:root {
  /* Font */
  --main-font: "Lexend Deca", sans-serif;
  --title-font: "Big Shoulders Display", sans-serif;
  /*Font weight*/
  --bold-text: 700;
  /* Colors */
  --primary-color: hsl(31, 77%, 52%);
  --secondary-color: hsl(184, 100%, 22%);
  --third-color: hsl(179, 100%, 13%);
  --transparent-white-color: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  /* Border radius */
  --border-radius: 0.7rem;
  --border-radius-lg: 1.5rem;
  /* Margins */
  --margin: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--main-font);
  background-color: var(--very-light-gray);
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.title {
  font-family: var(--title-font);
  font-size: 2rem;
  text-transform: uppercase;
}

/*Utility classes*/
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-third {
  background-color: var(--third-color);
}

.text-white {
  color: var(--transparent-white-color);
}

.text-light-gray {
  color: var(--very-light-gray);
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-third {
  color: var(--third-color);
}

.bold {
  font-weight: var(--bold-text);
}

.is-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: min(95%, 60rem);
  margin-inline: auto;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.is-grid > article {
  padding: 2rem;
}

.is-grid > article:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.is-grid > article:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@media screen and (min-width: 765px) {
  .is-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 32rem;
  }
  .is-grid > article:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  .is-grid > article:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  .is-grid button {
    margin-top: var(--margin);
  }
}

.is-vertical-grid {
  display: grid;
  gap: 2rem;
}

.btn-primary {
  cursor: pointer;
  font-family: var(--main-font);
  background-color: var(--very-light-gray);
  border-radius: var(--border-radius-lg);
  padding: 0.8rem 1.5rem;
  border: 2px solid var(--very-light-gray);
}

.btn-primary:active,
.btn-primary:hover {
  background-color: transparent;
  color: var(--very-light-gray);
}

.md-transparent {
  opacity: 0.8;
}

/* Attribution */
.attribution {
  font-family: var(--main-font);
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: hsl(228, 62%, 24%);
}
